body {
  /*background-color: rgb(256,240,240) !important;*/
  background-color: rgba(0,0,0,0.05)!important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*#canvas {*/
/*  position: relative;*/
/*  width: 300px;*/
/*  height: 300px;*/
/*}*/
#cont {
  /*width: 800px;*/
  /*height: 800px;*/
  /*margin: 100px auto;*/
  display: inline-block;
  font-size:0;
  margin-bottom: 6px;
  /*float:left;*/
  outline: 1px solid #4A6896;
}
/*#canvasChess {*/
/*  position: relative;*/
/*  !*width: 800px;*!*/
/*  !*height: 800px;*!*/
/*}*/
.table-container {

  overflow-y: scroll;

}
.table-container::-webkit-scrollbar {
  width: 0px;
}

.chatContainer {
  overflow-y: scroll;
}
.chatContainer::-webkit-scrollbar {
  width: 0px;
}
.message {
  line-height: 1!important;
}